<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Navbar</title>
  <link href=".../css/style.css" rel="stylesheet"/>
</head>
<body>
<header class="navbar">
    <img class="navbar_logo" src="../images/FaceFetchLogoTrans.png" alt="Logo"></img>
    <div class="navbar_pageNav">
        <div class="navbar_pageNav_buttonCont">
            <button>Dashboard</button>
            <button class="selected">Activity Log</button>
        </div>
    </div>
    <div class="navbar_logo_2">FaceFetch</div>
    <div class="navbar_profile">
        <span>[Username]</span>
        <img src="../images/User.png" alt="user">
    </div>
</header>

  <script src=".../js/javaScript.js"></script>
</body>
</html>