body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    min-height: 100vh;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}



/* dashboard - main*/
.dashboard_main_cont
{
    height: 700px;
    margin: 50px 2.5% 0 2.5%;
    display: grid;
    column-gap: 2.5%;
    row-gap: 50px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 4fr 1.25fr;
    grid-template-areas:
    "dashboardMainCamera ."
    "dashboardMainCamera ."
    "dashboardMainCamera .";
}
.dashboard_main_camera
{
    grid-area: dashboardMainCamera;
    background-color: var(--content-base-color);
    align-items: center;
    display: flex;
    justify-content: center;
}
.dashboard_main_extra
{
    background-color: var(--content-base-color);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dashboard_main_extra:hover
{
    box-shadow: 0 0 5px 5px rgb(113, 145, 243);
}
.dashboard_main_extra_title
{
    width: 100%;
    font-size: 1.3em;
}
.dashboard_main_extra :first-child.dashboard_main_extra_title
{
    font-size: 1.6em;
    border-bottom: solid var(--primary-color) 3px;
    padding-bottom: 3px;
}
.dashboard_main_extra_data
{
    font-size: 1em;
    text-align: center;
    text-wrap: nowrap;
}
.dashboard_main_extra_data_status
{
    font-size: 1.6em;
    width: 100%;
    height: 50%;
    background-color: var(--status-color-unknown);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    &.good
    {
        background-color: var(--status-color-good);
    }
    &.offline
    {
        background-color: var(--status-color-bad);
    }
    &.issue
    {
        background-color: var(--status-color-warning);
    }
}

/* dashboard - activity*/

.dashboard_activity_cont
{
    margin: 50px 2.5% 0 2.5%;
    height: 700px   ;
    display: grid;
    grid-template-rows: 75px 1fr;
    /*border: 5px solid var(--primary-color);*/

}
.dashboard_activity_bar
{
    display: flex;
    background-color: var(--content-base-color);
    flex-direction: row;
    padding: 0 1%;
    align-items: center;
    border-bottom: 5px solid var(--secondary-color);
    .title
    {
        font-size: 2em;
    }
    .extra
    {
        margin-left: auto;
    }
}
.dashboard_activity_logs_cont
{
    background-color: var(--content-item-color);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 2%;
}

/* activity log entry */
.activity_log_cont
{
    height: 75px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.activity_log_type
{
    flex-shrink: 0;
    width: 20%;
    font-size: 2em;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: var(--status-color-unknown);
    &.alert
    {
        background-color: var(--status-color-bad);
    }
    &.granted
    {
        background-color: var(--status-color-good);
    }
    &.warning
    {
        background-color: var(--status-color-warning);
    }
}
.activity_log_desc
{
    flex-grow: 1;
    padding: 0.1%;
    font-size: 1.2em;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid black;
}
.activity_log_score
{
    flex-shrink: 0;
    height: 100%;
    width: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
}
.activity_log_datetime
{
    flex-shrink: 0;
    height: 100%;
    width: fit-content  ;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
}