:root {
    --primary-color: #667eea;
    --secondary-color: #764ba2;

    --status-color-good: #00ff00;
    --status-color-bad: #fa0000;
    --status-color-warning: #ff7d02;
    --status-color-unknown: #a301e3;

    --menu-base-color: black;
    --menu-item-color: #393939;
    --background-color: white;

    --button-color: #414d91;
    --button-selected-color: #667eea;
    --button-glow-color: rgba(102, 126, 234, 0.5);

    --content-base-color: #474747;
    --content-item-color: #676565;

    --text-light-color: white;
    --text-light-unfocus-color: #959494;
    --text-dark-color: black;

    --hyperlink-color: #7e7ef1;
}

/**
    Navbar
 */
.navbar
{
    height: 100px;
    background-color: var(--menu-base-color);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 3fr 1fr 2fr 1.5fr;
    grid-template-areas:
    "navbarLogo navbarLogo2 . navbarPageNav navbarProfile";
}
.navbar_logo
{
    grid-area: navbarLogo;
    width: 100px;
    height: 100px;
}
.navbar_pageNav
{
    grid-area: navbarPageNav;
    align-items: center;
    display: flex;
}
.navbar_pageNav_buttonCont
{
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: transparent;
}
.navbar_pageNav_buttonCont button
{
    background-color: transparent;
    color: var(--text-light-unfocus-color);
    border: 0 solid var(--secondary-color);
    border-radius: 10px;
    font-size: 1em;
}
.navbar_pageNav_buttonCont button.selected
{
    background-color: var(--button-selected-color);
    color: var(--text-light-color);
    text-decoration: underline;
}
.navbar_pageNav_buttonCont button:hover
{
    transition: 0.15s;
    /*box-shadow: inset 0 0 10em 10em rgba(255, 255, 255, 0.3);*/
    box-shadow: 0 0 5px 5px var(--button-glow-color);

    color: var(--text-light-color);
    background-color: var(--button-selected-color);
}
.navbar_logo_2
{
    grid-area: navbarLogo2;
    /*margin: auto;*/
    font-size: 4em;
    background: -webkit-linear-gradient(180deg, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar_profile
{
    grid-area: navbarProfile;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 10px;
    padding-right: 10px;
    img {
        width: 45px;
        height: 45px;
    }
    span {
        font-size: 1em;
        background-color: var(--menu-base-color);
        color: var(--text-light-color);
        height: 1.4em;
        padding: 0.3em;
        border-radius: 10px;
        overflow: hidden;
        text-wrap: nowrap;
    }
}

/**
    Footer
 */

.footer
{
    height: 250px;
    background-color: var(--menu-base-color);
    display: flex;
    padding: 20px 1%;
    gap: 20px;
    color: var(--text-light-color);
}
.footer_main
{
    min-width: 66%;
    max-width: 66%;
    background-color: var(--menu-item-color);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}
.footer_quick_nav
{
    background-color: var(--menu-item-color);
    width: 34%;
    max-width: 34%;
    padding: 20px 1%;
    position: relative;
}
.footer_main_cont ,.footer_quick_nav_cont
{
    height: 100%;
    overflow: hidden;
    .title
    {
        font-size: 1.3em;
        font-weight: bold;
    }
    ul
    {
        list-style-type: none;
        margin-block-start: 60px;
        margin-block-end: 0;
        padding-inline-start: 0;
    }
}
.footer_quick_nav_cont
{
    ul
    {
        font-size: 1.2em;
        a
        {
            color: var(--hyperlink-color);
        }
    }
}
.footer_main_media_cont
{
    display: flex;
    gap: 1px;

    figure
    {
        margin-block-start: 60px;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-style: italic;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        img
        {
            width: 50px;
            height: 50px;
        }
    }
}
.footer_quick_nav_logo_cont
{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}