:root {
    --primary-color: #667eea;
    --secondary-color: #764ba2;

    --status-color-good: #00ff00;
    --status-color-bad: #fa0000;
    --status-color-warning: #ff7d02;
    --status-color-unknown: #a301e3;
}

body {  
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    min-height: 100vh;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

/* Navbar */
.navbar
{
    height: 100px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 0.5fr 3fr 0.5fr 3fr 1.5fr;
    grid-template-areas:
    "navbarLogo . navbarPageNav . navbarLogo2 navbarProfile";
}
.navbar_logo
{
    grid-area: navbarLogo;
    width: 100px;
    height: 100px;
}
.navbar_pageNav
{
    grid-area: navbarPageNav;
    align-items: center;
    display: flex;
}
.navbar_pageNav_buttonCont
{
    background-color: black;
    height: 50px;
    width: 100%;
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.navbar_pageNav_buttonCont button
{
    background-color: black;
    color: white;
    border: 0 solid var(--secondary-color);
    font-size: 2em;
}
.navbar_pageNav_buttonCont button.selected
{
    background-color: var(--primary-color);
}
.navbar_pageNav_buttonCont button:hover
{
    transition: 0.15s;
    border: 1px solid var(--secondary-color);
     box-shadow: inset 0 0 10em 10em rgba(255, 255, 255, 0.3);
}
.navbar_logo_2
{
    grid-area: navbarLogo2;
    margin: auto;
    font-size: 4em;
    background: -webkit-linear-gradient(180deg, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar_profile
{
    grid-area: navbarProfile;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 10px;
    padding-right: 10px;
    img {
        width: 75px;
        height: 75px;
    }
    span {
        font-size: 1.2em;
        background-color: black;
        color: white;
        height: 1.4em;
        padding: 0.3em;
        border: 5px solid var(--primary-color);
        border-radius: 10px;
        overflow: hidden;
        text-wrap: nowrap;
    }
}

/* dashboard - main*/
.dashboard_main_cont
{
    height: 700px;
    margin: 50px 50px 0 50px;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 4fr 1.25fr;
    grid-template-areas:
    "dashboardMainCamera ."
    "dashboardMainCamera ."
    "dashboardMainCamera .";
}
.dashboard_main_camera
{
    grid-area: dashboardMainCamera;
    background-color: gray;
    align-items: center;
    display: flex;
    justify-content: center;
}
.dashboard_main_extra
{
    background-color: white;
    padding: 1em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dashboard_main_extra_title
{
    width: 100%;
    font-size: 1.3em;
}
.dashboard_main_extra :first-child.dashboard_main_extra_title
{
    font-size: 1.6em;
    border-bottom: solid var(--primary-color) 3px;
    padding-bottom: 3px;
}
.dashboard_main_extra_data
{
    font-size: 1em;
    text-align: center;
    text-wrap: nowrap;
}
.dashboard_main_extra_data_status
{
    font-size: 1.6em;
    width: 100%;
    height: 50%;
    background-color: var(--status-color-unknown);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    &.good
    {
        background-color: var(--status-color-good);
    }
    &.offline
    {
        background-color: var(--status-color-bad);
    }
    &.issue
    {
        background-color: var(--status-color-warning);
    }
}

/* dashboard - activity*/

.dashboard_activity_cont
{
    background-color: white;
    margin: 50px 50px 0 50px;
    height: 700px   ;
    display: grid;
    grid-template-rows: 75px 1fr;
    border: 5px solid var(--primary-color);

}
.dashboard_activity_bar
{
    display: flex;
    background-color: white;
    flex-direction: row;
    padding: 0 10px;
    align-items: center;
    border-bottom: 5px solid var(--secondary-color);
    .title
    {
        font-size: 2em;
    }
    .extra
    {
        margin-left: auto;
    }
}
.dashboard_activity_logs_cont
{
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


/* footer */

.footer
{
    height: 250px;
    background-color: black;
    display: flex;
    padding: 20px;
    gap: 20px;
    color: white;
}
.footer_main
{
    min-width: 66%;
    max-width: 66%;
    background-color: gray;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}
.footer_quick_nav
{
    background-color: gray;
    width: 34%;
    max-width: 34%;
    padding: 20px;
    position: relative;
}
.footer_main_cont ,.footer_quick_nav_cont
{
    background-color: green;
    height: 100%;
    .title
    {
        font-size: 1.3em;
        font-weight: bold;
    }
    ul
    {
        background-color: orange;
        list-style-type: none;
        margin-block-start: 60px;
        margin-block-end: 0;
        padding-inline-start: 0;
    }
}
.footer_quick_nav_cont
{
    ul
    {
        font-size: 1.2em;
    }
}
.footer_main_media_cont
{
    display: flex;
    gap: 10px;

    figure
    {
        margin-block-start: 60px;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-style: italic;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        img
        {
            width: 50px;
            height: 50px;
        }
    }
}
.footer_quick_nav_logo_cont
{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

/* activity log entry */
.activity_log_cont
{
    height: 75px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.activity_log_type
{
    flex-shrink: 0;
    width: 250px;
    font-size: 2em;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: var(--status-color-unknown);
    &.alert
    {
        background-color: var(--status-color-bad);
    }
    &.granted
    {
        background-color: var(--status-color-good);
    }
    &.warning
    {
        background-color: var(--status-color-warning);
    }
}
.activity_log_desc
{
    flex-grow: 1;
    padding: 5px;
    font-size: 1.2em;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px solid black;
}
.activity_log_score
{
    flex-shrink: 0;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
}
.activity_log_datetime
{
    flex-shrink: 0;
    height: 100%;
    width: 125px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;

}